p{
  color:blue;
}
h1{
  color:red;
  font-style:bold;
  font-size:25px;
}
h2{
  color:purple;
  font-style:bold;
  font-size:25px;
}
h3{
  color:orange;
  font-style:bold;
  font-size:25px;
}
ol{
  color:black;
  font-style:italic;
}
ul{
  color:black;
  font-style:italic;
}
img{
  width:100px;
}
body{
  background-color:#90C3D4;
}
