p{
  color:#A1D490;
}
h1{
  color:#C390D4;
  font-style:bold;
  font-size:25px;
}
h2{
  color:#E890C9;
  font-style:bold;
  font-size:25px;
}
h3{
  color:#E8DB90;
  font-style:bold;
  font-size:25px;
}
ol{
  color:#CBE890;
  font-style:italic;
}
ul{
  color:#3F403E;
  font-style:italic;
}
img{
  width:100px;
}
body{
  background-color:#90C3D4;
}
