p{
  color:blue;
}
h1{
  color:purple;
  font-style:bold;
  font-size:25px;
}
h2{
  color:purple;
  font-style:bold;
  font-size:25px;
}
h3{
  color:purple;
  font-style:bold;
  font-size:25px;
}
ol{
  color:pink;
  font-style:italic;
}
